html, body, * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(184, 219, 235);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 2em auto;
  background-color: white;
  padding: 2.5em;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.button-main {
  margin: 2em auto;
  display:block;
  background-color: rgb(9, 31, 41);
  color: white;
  outline: none;
  border: none;
  padding: 1em 2em;
}
.button-question-menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.button-question-menu-main-container  {
  margin: 2em auto;
  width: inherit;
}
.form-name-input {
  font-size: 22px;
  outline: none;
  border:none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
.form-name-input:hover {
  border-bottom: 2px solid black;
}

.question-input {
  width: 100%;
  display:block;
}

input {
  outline: none;
  border:none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
input:hover {
  border-bottom: 2px solid black;
}
input:focus {
  border-bottom: 2px solid black;
}
.text-input {
  width: 100%;
}
button {
  background-color: rgb(10, 37, 49);
  color: white;
  outline: none;
  border: none;
  padding: 1em 2em;
  border-radius: 20px;
  cursor:pointer;
}
button:hover {
  background-color: black;
}
.addoption-button {
  background-color: #efefef;
  padding: 0.5em 1.5em;
  color: black;
  margin: 1em 0;
}
.addoption-button:hover {
  background-color: #dddddd;
  padding: 0.5em 1.5em;
  color: black;
  margin: 1em 0;
}